* {
    font-family: 'Oleo Script', sans-serif;
    color: #DBAD6F;
}

body {
    background-image: url('images/image-1.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
}

.formcover {
    width: 40%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    margin-left: 5%;
    font-size: 30px;
}

.formcover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons {
    margin-right: 15px;
    height: 30px;

}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.rows {
    height: 20%;
    justify-content: space-evenly;
    display: flex;
    width: 100%;
}

form {
    height: 70vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
}

form input {
    height: 30%;
    width: 65%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #DBAD6F;
    outline: none;
    border-radius: 10px;
}

label {
    display: flex;
}

button {
    font-size: 18px;
    width: 100%;
    height: 100%;
    background-color: #6a6b45;
    border-radius: 15px;    
}

#msg {
    font-size: 24px;
}

#buttoncontainer {
    width: 80%;
    height: 7%;
    display: flex;
}

#logo {
    font-size: 70px;
    font-family: 'Black Ops One', sans-serif;
    margin-bottom: 5%;
}
